<!doctype html>
<html>
    <head>
        <style>
            h1, h3, div, button, table {
                text-align: center;
                margin: auto;
                left: 0;
                right: 0;
            }
        </style>
    </head>    
    <body>
        <h1> Welcome {{name}}</h1>
        <div>
            <p>{{msg}}</p>
        </div>
        <div>
            <p>Your account number is <span id="idNum">{{id}}</span></p>
            <p>Your current balance is {{balance}}</p>
        </div>
        <div>
            <input id = "amount" type="text" name="amount" placeholder="Amount">
            <input id = "receiver" type="text" name="transfer_to" placeholder="Transfer to">
            <button id="transfer">Transfer</button>
        </div>
        </br>
        <h3>Your transaction records</h3>
        <div>
            <table>
                <thead>
                    <td>Receiver</td>
                    <td>Amount</td>
                    <td>Time</td>
                </thead>
                <tbody>
                    {% for record in records %}
                        <tr>
                            <td>{{record.receiver}}</td>
                            <td>{{record.amount}}</td>
                            <td>{{record.time}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <button id="logout">Log out</button>
        </div>
    </body>
    <script>
        const id = document.getElementById("idNum").innerText
        const transfer = document.getElementById("transfer")
        const logout = document.getElementById("logout")
        transfer.addEventListener("click", () => {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/send", true)
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            const amount = document.getElementById("amount").value
            const receiver = document.getElementById("receiver").value
            xhr.onreadystatechange = function() {

            }
            xhr.send(`id=${id}&transfer_to=${receiver}&amount=${amount}`)
        })
        logout.addEventListener("click", () => {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/logout", false)
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            xhr.send(`id=${id}`)
        })
    </script>
</html>

