<!doctype html>
<html>
    <head>
        <style>
            h1, h3, div, button, table {
                text-align: center;
                margin: auto;
                left: 0;
                right: 0;
            }
        </style>
    </head>    
    <body>
        <h1> Welcome {{name}}</h1>
        <div>
            <p id="msg"></p>
        </div>
        <div>
            <p>Your account number is <span id="idNum">{{id}}</span></p>
            <p>Your current balance is <span id="balance">{{balance}}</span></p>
        </div>
        <div>
            <input id = "amount" type="text" name="amount" placeholder="Amount">
            <input id = "receiver" type="text" name="transfer_to" placeholder="Transfer to">
            <button id="transfer">Transfer</button>
        </div>
        </br>
        <div>
            <input id = "amountDeposit" type="text" name="amountDeposit" placeholder="Amount">
            <button id="deposit">Deposit</button>
        </div>
        </br>
        <div>
            <input id = "amountWithdraw" type="text" name="amountWithdraw" placeholder="Amount">
            <button id="withdraw">Withdraw</button>
        </div>
        </br>
        <h3>Your transaction records</h3>
        <div>
            <table>
                <thead>
                    <td>Sender</td>
                    <td>Receiver</td>
                    <td>Amount</td>
                    <td>Time</td>
                </thead>
                <tbody id="table">
                    {% for record in records %}
                        <tr>
                            <td>{{record.sender}}</td>
                            <td>{{record.receiver}}</td>
                            <td>{{record.amount}}</td>
                            <td>{{record.time}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <button id="logout">Log out</button>
        </div>
    </body>
    <script>
        const id = document.getElementById("idNum").innerText
        const balance = document.getElementById("balance")
        const transfer = document.getElementById("transfer")
        const deposit = document.getElementById("deposit")
        const withdraw = document.getElementById("withdraw")
        const logout = document.getElementById("logout")
        const msg = document.getElementById("msg")
        const transaction = document.getElementById("table")
        transfer.addEventListener("click", () => {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/send", true)
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            const amount = document.getElementById("amount").value
            const receiver = document.getElementById("receiver").value
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    const jsonRes = JSON.parse(xhr.response)
                    balance.innerText = jsonRes.balance
                    msg.innerText = jsonRes.msg
                    let newRecords = ""
                    jsonRes.records.forEach(record => {
                        newRecords += `<tr>
                                        <td>${record.sender}</td>
                                        <td>${record.receiver}</td>
                                        <td>${record.amount}</td>
                                        <td>${record.time}</td>
                                        </tr>\n`
                    })
                    transaction.innerHTML = newRecords
                }
            }
            xhr.send(`id=${id}&transfer_to=${receiver}&amount=${amount}`)
        })
        logout.addEventListener("click", () => {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/logout", true)
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    alert("You have been logged out!")
                    window.location.replace("/")
                }
            }
            xhr.send(`id=${id}`)
        })
        deposit.addEventListener("click", () => {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/deposit", true)
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            const amount = document.getElementById("amountDeposit").value
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    const jsonRes = JSON.parse(xhr.response)
                    console.log(deposit, jsonRes)
                    balance.innerText = jsonRes.balance
                    msg.innerText = jsonRes.msg
                    let newRecords = ""
                    jsonRes.records.forEach(record => {
                        newRecords += `<tr>
                                        <td>${record.sender}</td>
                                        <td>${record.receiver}</td>
                                        <td>${record.amount}</td>
                                        <td>${record.time}</td>
                                        </tr>\n`
                    })
                    transaction.innerHTML = newRecords
                }
            }
            xhr.send(`id=${id}&amount=${amount}`)
        })
        withdraw.addEventListener("click", () => {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/withdraw", true)
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            const amount = document.getElementById("amountWithdraw").value
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    const jsonRes = JSON.parse(xhr.response)
                    console.log(withdraw, jsonRes)
                    balance.innerText = jsonRes.balance
                    msg.innerText = jsonRes.msg
                    let newRecords = ""
                    jsonRes.records.forEach(record => {
                        newRecords += `<tr>
                                        <td>${record.sender}</td>
                                        <td>${record.receiver}</td>
                                        <td>${record.amount}</td>
                                        <td>${record.time}</td>
                                        </tr>\n`
                    })
                    transaction.innerHTML = newRecords
                }
            }
            xhr.send(`id=${id}&amount=${amount}`)
        })
    </script>
</html>

